<footer>
	<div class="container">
		<div class="contents">
			<div class="info">
				<p>
					北京市海淀区西小口66号东升科技园A区5号楼2层-4层 <br/>
					市场合作：marketing@oneapm.com
				</p>
			</div>
			<div class="products">
				<h3 class="title">产品</h3>
				<ul>
					<li><a href="http://www.oneapm.com/ai/feature.html" target="_blank">Ai</a></li>
					<li><a href="http://www.oneapm.com/bi/feature.html" target="_blank">Bi</a></li>
					<li><a href="http://www.oneapm.com/mi/feature.html" target="_blank">Mi</a></li>
					<li><a href="http://www.oneapm.com/ct/feature.html" target="_blank">Ct</a></li>
					<li><a href="http://www.oneapm.com/si/feature.html" target="_blank">Si</a></li>
					<li><a href="http://www.oneapm.com/ni/feature.html" target="_blank">Ni</a></li>
					<li><a href="http://cloudinsight.oneapm.com/" target="_blank">CloudInsight</a></li>
					<li><a href="http://www.oneapm.com/cpt/feature.html" target="_blank">CPT</a></li>
					<li><a href="https://www.oneasp.com/" target="_blank">OneASP</a></li>
					<li><a class="contact-us">CMDB</a></li>
					<li><a class="contact-us">One ITSM</a></li>
				</ul>
			</div>
			<div class="help">
				<h3 class="title">帮助</h3>
				<ul>
					<li><a href="http://support.oneapm.com/" target="_blank">帮助中心</a></li>
					<li><a href="http://www.oneapm.com/openclass/index.html" target="_blank">大学</a></li>
					<li><a href="http://blog.oneapm.com/" target="_blank">博客</a></li>
					<li><a href="https://club.oneapm.com/" target="_blank">社区</a></li>
				</ul>
			</div>
			<div class="about">
				<h3 class="title">关于 ,,</h3>
				<ul>
					<li><a href="http://www.oneapm.com/clients/clientcase.html" target="_blank">客户案例</a></li>
					<li><a href="http://www.oneapm.com/info/jobs.html" target="_blank">加入我们</a></li>
					<li><a href="http://www.oneapm.com/info/about.html" target="_blank">关于我们</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">Copyright © 2008-2016 北京蓝海讯通科技股份有限公司 京ICP备14028342号-2 京公网安备 11010802016192 服务协议</div>
</footer>
