<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<meta name="description" content="OneAPM（蓝海讯通）提供端到端APM应用性能管理软件及应用性能监控软件解决方案，OneAPM已经形成移动，浏览器，应用，基础设施，网络，数据库性能管理六大产品线，支持Java、.NET、PHP、Ruby、Python、Node.js、iOS、Android、HTML5等应用性能监控管理。 "/>
	<meta name="keywords" content="OneAPM,蓝海讯通,应用性能管理,应用性能监控,APM应用性能管理,APM应用性能监控">
	<meta name="baidu-site-verification" content="kn9EQViHUJ"/>
	<meta name="sogou_site_verification" content="RMhcz2kV1a"/>
	<meta name="360-site-verification" content="aca02031c4a7cbe6b7a4923ca081aea4" />
</head>
<body>
	<div class="g-hd"></div>
	<div class="g-bd">
	<h3> this is index page hahha</h3>
		<input type="button" value="弹窗" class="btn">
		<p class="img">
			<img src="../img/123.png" alt="" style="width: 400px;">
		</p>
	</div>
	<div class="g-ft"></div>
</body>
</html>